<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Title</title>
</head>
<body>

<div th:fragment="menu-bar">

    <nav class="menu-bar">
        <ul>
            <li><a th:href="@{/}" th:text="#{menu.home}">Home</a></li>
            <li th:if="${session.currentUser == null}"><a th:href="@{/loginPage}" th:text="#{menu.login}">Login</a></li>
            <li th:if="${session.currentUser == null}"><a th:href="@{/registerPage}" th:text="#{menu.register}">Register</a></li>
            <li th:if="${session.currentUser != null}"><a th:href="@{/profile}" th:text="#{menu.profile}">Profile</a></li>
            <li th:if="${session.currentUser != null}"><a th:href="@{/editProfile}" th:text="#{menu.editProfile}">Edit Profile</a></li>
            <li th:if="${session.currentUser != null}"><a th:href="@{/logout}" th:text="#{menu.logout}">Logout</a></li>
            <li><a th:href="@{/songs}" th:text="#{menu.songs}">Songs</a></li>
            <li><a th:href="@{/artists}" th:text="#{menu.artists}">Artists</a></li>
            <li><a th:href="@{/albums}" th:text="#{menu.albums}">Albums</a></li>

        </ul>
        <div th:replace="~{Additional/language_menu :: language-menu-bar}"></div>
    </nav>
    </div>
</body>
</html>