<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="text-center mb-4">
<h1 class="display-4">Artists</h1>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
<ul class="list-group">
    <th:block th:each="artist : ${artists}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a th:href="@{/viewArtist/{id}(id=${artist.artistID})}" th:text="${artist.artistName}">Artist Name</a>
            <span class="badge bg-primary rounded-pill">ID: <span th:text="${artist.artistID}">123</span></span>
        </li>
    </th:block>
</ul>
</div>
    </div>
</div>
</body>
</html>
